[defaults]
inventory = inventories/homelab/hosts.yml
roles_path = roles
remote_user = ansible
private_key_file = ~/.ssh/id_ed25519_blackstar_ansible

[privilege_escalation]
become = true
become_method = sudo

[ssh_connection]
pipelining = true
