CONFIG_FILE="/etc/alloy/config.alloy"
CUSTOM_ARGS="{% if alloy_cluster_enabled | default(false) %}--cluster.enabled --cluster.join-addresses={{ groups['ed800g9'] | map('regex_replace', '$', ':12345') | join(',') }} --server.http.listen-addr=0.0.0.0:12345 --cluster.advertise-address={{ ansible_default_ipv4.address }}:12345{% endif %}"
RESTART_ON_UPGRADE=true
